{% extends "menu.html" %}

{% block contenido %} <h1> ESTRENOS </h1>

    <h1 style="color: white">Consultar Cartelera</h1>
    <a href="{% url 'crear_cartelera' %}"> Registar Nueva Cartelera </a>
    <div style="margin-top: 20px;">
        <form method="post" action="{% url 'buscar_cartelera' %}">
            {% csrf_token %}
            {% for element in buscar_carteleras %}
                <div>
                    <label>{{ element.label_tag }}</label>
                    {{ element }}
                </div>
            {% endfor %}
            <div>
                <button type="submit" class="btn btn-primary">Buscar</button>
                <button type="submit" formaction="{% url 'exportar_lista_cartelera' %}" class="btn btn-primary">Exportar
                    a PDF
                </button>
            </div>
        </form>
    </div>

<div style="margin-top: 20px;">

    <table class="table table-dark table-striped table-bordered table-hover">
        <thead>
        <th> Fecha</th>
        <th> Presentacion</th>
        <th> Peliculas</th>
        <th> Modificar</th>
        <th> Eliminar</th>
        </thead>
        <tbody>
        {% for cartelera in lista_carteleras %}
            <tr>
                <td> {{ cartelera.fecha_creacion | date }}</td>
                <td> {{ cartelera.presentacion }}</td>
                <td> {{ cartelera.peliculas }}</td>
                <td><a href="{% url 'modificar_cartelera' cartelera.id %}" class="btn btn-primary" > mod </a></td>
                <td><a href="{% url 'eliminar_cartelera' cartelera.id %}" class="btn btn-danger"> eli </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
